<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Códigos SIGRH</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Registro de Códigos SIGRH</h1>

      <!-- Formulário para registrar novos códigos -->
      <form id="register-form" class="form">
        <input type="text" name="code" placeholder="Digite o Código" required />
        <input
          type="text"
          name="description"
          placeholder="Digite a descrição"
          required
        />
        <button type="submit" class="btn">SALVAR</button>
      </form>

      <h2>Códigos por Descrição</h2>
      <!-- Barra de pesquisa inteligente -->
      <input
        type="text"
        id="search-box"
        placeholder="Pesquisar por descrição"
        class="search-box"
      />

      <!-- Resultados da pesquisa -->
      <div id="search-results" class="results"></div>
    </div>

    <script src="/static/js/scripts.js"></script>
  </body>
</html>
